// font-stacks
$main-font-stack: 'Poppins', 'Arial', sans-serif;

// font-colors
$primary-font-color: #3f3f3f;
$secondary-font-color: #bbbbbb;
$white-font: #ffffff;

// colors
$primary-background: #ffffff;
$primary-green: #88eaa9;
$violet: #889dea;
$task-border: #c7c7c7;
$primary-icon-color: #afafaf;
